.modalDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s linear 0.5s;
}

.modalOpen {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s linear;
}

.modalContent {
  background-color: white;
  height: 40vh;
  width: 40vw;
  border-radius: 25px;
  display: grid;
  padding: 1.5vh;
  grid-template-rows: 1fr 10fr;
}

@media screen and (max-width: 1024px) {
  .modalContent {
    width: 95vw;
  }
}
